.card.light.ativo {
  background: #e9eaf0;
  box-shadow: inset 7px 7px 20px var(--w-dark-shadow),
    inset -7px -7px 20px var(--w-light-shadow);
}

.card.light.inativo {
  background: linear-gradient(145deg, #f9faff, #d2d3d8);
  box-shadow: 7px 7px 20px var(--w-dark-shadow),
    -7px -7px 20px var(--w-light-shadow);
}

.card.dark {
  color: white;
  background: var(--d-backgroud);
  box-shadow: 20px 20px 23px var(--d-dark-shadow),
    -20px -20px 23px var(--d-light-shadow);
}
