main {
  background: #eeeeee;
}

.pokemons-container {
  display: grid;
  grid-area: content;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* overflow-y: auto; */
  /* height: 100%; */
}

.pokemon-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
  margin: 1rem;
  height: 240px;
  column-gap: 1rem;
}

.pokemon-name {
  grid-column: -1/1;
  text-transform: capitalize;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  height: 26px;
  font-weight: 700;
}

.pokemon-types {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.pokemon-types li {
  box-sizing: border-box;
  padding: 1rem 2rem;
  border-radius: 36px;
  background: linear-gradient(145deg, #d6d6d6, #ffffff);
  box-shadow: 11px 11px 22px #e4e4e4, -11px -11px 22px #f8f8f8;
}

.pokemon-img {
  height: 100px;
  align-self: center;
  justify-self: flex-end;
  filter: drop-shadow(3px 3px 0.2rem #acacac);
}
.pokemon-img:hover {
  filter: drop-shadow(3px 3px 0.4rem #acacac);
}
