.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  height: 100vh;
  overflow-y: auto;
  width: 60vw;
  border-radius: 16px;
  justify-self: center;
}

.bg {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 300px));
  grid-template-rows: min-content;
  row-gap: 1rem;
  margin: 0.5rem;
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  border-radius: 16px;
  height: 190px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.14), 0 3px 6px rgba(0, 0, 0, 0.21);
  position: relative;
  overflow: clip;
}
.bg > *:not(.pokeball-bg) {
  z-index: 1;
}
.bg:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.bg h1 {
  grid-column: -1/1;
  color: white;
  text-transform: capitalize;
}

.bg ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.bg li {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0.6rem 1.5rem;
  border-radius: 16px;
  color: white;
  text-transform: capitalize;
}

.pokemon-img {
  max-height: 115px;
}
.pokeball-bg {
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 300px;
  height: 300px;
}
