.search-bar,
input {
  box-sizing: border-box;
}
.search-bar {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}
.search-bar input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}
