nav,
li {
  box-sizing: border-box;
}

nav {
  padding: 1rem;
  margin: 1rem;
}

ul {
  padding: 0;
}

li {
  background-image: url('../img/pokeball.svg'), url('../img/pokeball.svg');
  background-position: -123px -119px, 87px center;
  background-repeat: no-repeat;
  background-size: 13rem;
  border-radius: 16px;
  color: white;
  font-weight: 600;
  margin-bottom: 1rem;
  padding: 1.5rem;
}
