/* reset */
body {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

li,
span,
p,
h1,
h2,
h3 {
  font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3 {
  margin: 0;
}
.app-container {
  display: grid;
  grid-template-columns: minmax(200px, 300px) 0.75fr;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.grass,
.bug,
.pokedex {
  background-color: #46d3a9;
}
.fire,
.moves {
  background-color: #fb6d6c;
}
.water,
.abilities {
  background-color: #76bdfd;
}
.eletric,
.itens {
  background-color: #f6d782;
}
.normal {
  background-color: #999;
}
.locations {
  background-color: #805591;
}
.type {
  background-color: #b2726b;
}
