@import url(./styles/reset.css);

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a,
p,
li,
h1,
h2,
h3 {
  font-family: 'Open Sans', sans-serif;
}

.grid-template {
  display: grid;
  grid-template-areas: 'sidenav content';
  grid-template-columns: 0.25fr 1fr;
  padding: 4rem;
  /* overflow-y: hidden; */
  /* height: 100vh; */
}

.side-nav {
  grid-area: sidenav;
}

.card {
  border-radius: 36px;
  background: #eeeeee;
  box-shadow: 17px 17px 42px #c6c6c6, -17px -17px 42px #ffffff;
  cursor: pointer;
}

.card:hover {
  background: linear-gradient(145deg, #d6d6d6, #ffffff);
  box-shadow: 17px 17px 42px #c6c6c6, -17px -17px 42px #ffffff;
}
