/* reset */
body {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

li,
span,
p,
h1,
h2,
h3 {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1rem;
  background: #eee;
  margin: 0 auto;
  max-width: 60vw;
  /* height: 85vh; */
  overflow-y: auto;
  border-radius: 4ch;
}

.all-containers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.poke-card {
  border-radius: 26px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0.3rem;
  padding: 1rem;
  gap: 0.75rem;
}
.poke-card h3 {
  grid-column: -1/1;
  padding: 0.25rem;
}
.poke-card h3,
.poke-card li {
  color: white;
  text-transform: capitalize;
}

.poke-card ul {
  justify-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.poke-card li {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 200px;
  box-sizing: border-box;
  padding: 0.5rem 1.25rem;
  margin-bottom: 0.4rem;
}

.poke-card img {
  align-self: flex-end;
  justify-self: flex-end;
}

.grass,
.bug {
  background: #46d3a9;
}
.fire {
  background: #fb6d6c;
}
.water {
  background: #76bdfd;
}
.eletric {
  background: #f6d782;
}
.normal {
  background: #999;
}
